
<section class="welcome">
    <h2>Welcome to CSE Motors</h2>
    <img class="vehicle-image" src="images/vehicles/delorean.jpg" alt="delorean">
    <section class="intro">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="/inventory/delorean" title="View Inventory">Own Today</a>
    </section>
</section>
<figure class="bottom-section">
    <article class="about">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>

            <li>"Coolest ride on the road." (4/5)</li>

            <li>"I'm feeling McFly!" (5/5)</li>

            <li>"The most futuristic car of our day." (4.5/5)</li>

            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </article>

    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-list">
            <div class="flux-cap">
                <a class="image-up" href="/upgrades/flux-cap" title="View Flux Capacitor Upgrade"><img src="images/upgrades/flux-cap.png" alt="flux-cap"></a>
                <a href="/upgrades/flux-cap" title="View Flux Capacitor Upgrade"><p>Flux Capacitor</p></a>
            </div>
            <div class="flame">
                <a class="image-up" href="/upgrades/flame" title="View Flame Decals Upgrade"><img src="images/upgrades/flame.jpg" alt="flame"></a>
                <a href="/upgrades/flame" title="View Flame Decals Upgrade"><p>Flame Decals</p></a>
            </div>
            <div class="bumper-sticker">
                <a class="image-up" href="/upgrades/bumper-sticker" title="View Bumper Stickers Upgrade"><img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker"></a>
                <a href="/upgrades/bumper-sticker" title="View Bumper Stickers Upgrade"><p>Bumper Stickers</p></a>
            </div>
            <div class="hub-cap">
                <a class="image-up" href="/upgrades/hub-cap" title="View Hub Cap Upgrade"><img src="images/upgrades/hub-cap.jpg" alt="hub cap"></a>
                <a href="/upgrades/hub-cap" title="View Hub Cap Upgrade"><p>Hub Caps</p></a>
            </div>
        </div>
    </section>
</figure>
