<%- messages() %>

<section class="management-container">
    <h1>Inventory and Classification Management</h1>
	<div class="management-actions">
		<a href="/inv/add-classification" class="btn btn-primary">Add New Classification</a>
		<a href="/inv/add-inventory" class="btn btn-primary">Add New Vehicle</a>
	</div>
</section>



